meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Conceptos básicos para la gestión del talento humano.
meta(meta name="description" content="En este primer componente formativo, relacionado con conceptos básicos asociados a la Gestión del Talento Humano, se abordarán el proceso administrativo, la gestión por competencias, donde los estilos, habilidades de los dirigentes, herramientas gerenciales, técnicas de comunicación y normatividad, juegan un papel fundamental para el logro de un buen clima laboral, así como, el alcance de los objetivos de la organización, mediante un conjunto integrado de procesos, para administrar el desarrollo del personal que contribuya al éxito de la organización. ")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")