h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul
            li 
                span Describir conceptos, normativas y herramientas gerenciales en referencia al talento humano 


