h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul
            li 
                span 250201015-01. Interpretar la estructura narrativa clásica para la escritura de un guión cinematográfico de ficción, según el formato requerido.