.container#page-tema-1

    .header-ecored
        h1 1. Narrativa audiovisual

    .jumbotron.bg-white 

        .row

            h1 Introducción

            p A través de este componente se estudiarán los conceptos básicos del guión de ficción. Iniciando en conocer qué es la narrativa y los tipos de estructuras narrativas más recurrentes, para luego adentrase en la estructura narrativa clásica de 3 actos, pasando por los géneros cinematográficos.

            p La narrativa es un género literario que consiste en contar una historia. A ella pertenecen la novela, la novela corta y el cuento.

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen1.png", alt="").img-fluid

        .row.justify-content-center.align-items-center.my-5     
            a(href= "https://medium.com/@Mise_en_sceneHV/sobre-las-estructuras-narrativas-en-el-relato-cinematogr%C3%A1fico-146dcbd9c982 ", target="_blank")
                img(src="assets/images/pages/tema-1/imagen2.png", alt="").img-fluid


    .jumbotron.bg-white 
        .header#tema-1_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.1] Definición y tipología

        .row
            p Cuando se habla de narrativa audiovisual, se hace referencia a las historias que se cuentan a través de la imagen y el sonido. La narrativa cuenta con una estructura, que es la forma como se organizan y van a ser contados los hechos que componen la historia. Existen dos maneras de contarla, de forma lineal o discontinua.
 
            p En la forma lineal los hechos se cuentan en orden cronológico, partiendo de un punto hasta llegar a otro. Por el contrario, en una historia que se cuenta en forma discontinua, los hechos se cuentan sin un orden específico, bien sea presentando sucesos sin una conexión temporal o generando alteraciones cronológicas que permiten desplazarse al pasado o al futuro, teniendo el punto de partida de la historia como referente.
 
            p Esas alteraciones cronológicas son:

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen3.png", alt="").img-fluid
            img(src="assets/images/pages/tema-1/imagen4.png", alt="").img-fluid

        
        .row.my-5
            p Para ampliar más sus conocimientos sobre las bases aristotélicas, se sugiere ver el video “La base aristotélica”, el cual se encuentra en los materiales complementarios.




