.container#page-tema-3

    .header-ecored
        h1 3. Géneros cinematográficos

    .jumbotron.bg-white 

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-3/imagen1.svg", alt="").img-fluid


    .jumbotron.bg-white 
        .header#tema-3_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 3.1] Definición, estructuras y clasificación

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-3/imagen2.png", alt="").img-fluid

        .row.my-5
            p Los actos son la forma en que se divide una historia escrita bajo la estructura narrativa clásica postulada por Aristóteles en “La Poética”. Los actos que propone el autor son 3, que en su modo más simple se llaman inicio, nudo y desenlace; y que expertos del guión, como Syd Field, proponen como planteamiento, confrontación y resolución.


        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.background-color-marfil
                    .card-body.text-center.h-500

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-3/imagen3.png")

                        h4.mt-3 Inicio
                        hr.text-line-card
                        p.mt-3 Es conocido como el planteamiento, pues en él se da a conocer al lector quién es el personaje principal, cuál es su contexto cotidiano y de qué tratará la historia. Dentro del primer acto se encuentra el detonante, el acontecimiento narrativo que empuja al personaje principal hacia la historia, sacándolo de su cotidianidad.y el recurso agua. 

            .col-12.col-md-4.my-6.my-md-0
                .card.background-color-marfil
                    .card-body.text-center.h-500

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-3/imagen4.png")

                        h4.mt-3 Nudo
                        hr.text-line-card 
                        p.mt-3 También conocido como la confrontación, porque el personaje principal tendrá que enfrentarse a situaciones y reaccionar ante ellas, tomando decisiones que definirán su destino. En él se establecen los obstáculos que tendrá que superar el personaje para cumplir con su objetivo. Hacia el final de este acto se da el primer punto de giro, que a su vez da paso al tercer y último acto.


            .col-12.col-md-4.my-6.my-md-0
                .card.background-color-marfil
                    .card-body.text-center.h-500

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-3/imagen5.png")

                        h4.mt-3 Desenlace
                        hr.text-line-card 
                        p.mt-3 Se responde a las preguntas que el espectador se ha hecho durante el curso de la historia, el personaje supera o no los obstáculos y se enfrenta al clímax y finalmente a la resolución.



    .jumbotron.bg-white 
        .header#tema-3_2.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 3.2] Detonante: concepto, situaciones, contexto y presentación del personaje principal

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-3/imagen6.svg", alt="").img-fluid

        .row.my-5
            p En la presentación del contexto cotidiano del personaje, el espectador debe conocer cómo actúa y reacciona de acuerdo a su personalidad y  a su carácter. De esta manera el detonante es una situación que le cambia la suerte, haciendo que abandone esa rutina cotidiana para enfrentarse a las situaciones que el guionista plantea. Por ejemplo, si el personaje es un aprendiz SENA que día a día asiste a su formación, trabaja medio tiempo y vive con su familia; el detonante puede ser que pierda su empleo, pues esto genera un cambio en su cotidianidad y le obliga a enfrentar una serie de situaciones para resolver los problemas que esto representa.

        .row
            h2.text-color-yelow  Identificar el objetivo y motivación del personaje

        .row
            p A lo largo de la historia, el personaje principal debe mantener un objetivo y una motivación. El objetivo es algo más relacionado con lo material, que se puede palpar. Por su lado, la motivación tiende a ser algo más inmaterial, un aspecto interno relacionado con las emociones y sentimientos del personaje.

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-3/imagen7.png", alt="").img-fluid

        .row
            p En el ejemplo del aprendiz SENA mencionado anteriormente, donde pierde su trabajo de medio tiempo, el objetivo puede estar asociado a conseguir otro empleo rápidamente. En cuanto a la motivación, puede tener que ver con la necesidad de sostener a su familia y solventar los gastos necesarios para continuar su proceso de formación.




    .jumbotron.bg-white 
        .header#tema-3_3.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 3.3] Puntos de giro: concepto, situaciones y clasificación

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-3/imagen8.png", alt="").img-fluid

        .row.my-5
            p El punto de giro es un cambio inesperado de rumbo y su objetivo esencial es intensificar el interés del público en la historia. Allí, el personaje, que ya venía ejecutando un plan para conseguir su objetivo, se enfrenta a una situación que nuevamente le cambia la suerte y en la cual probablemente tendrá que tomar una decisión para seguir adelante. En la estructura narrativa clásica o de 3 actos se presentan 2, uno al final del primer acto y el otro al final del segundo acto.

            p Retomando el ejemplo del aprendiz SENA, que necesita conseguir otro empleo de medio tiempo para sostener a su familia y continuar con su formación, un punto de giro puede estar relacionado con una oferta de trabajo que estuvo a punto de conseguir, pero que tiene que rechazar porque se cruza con su horario de formación.




    .jumbotron.bg-white 
        .header#tema-3_3.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 3.4] Clímax: definición y situaciones

        .row.my-5
            p En el clímax el personaje se enfrenta a una situación definitoria para conseguir o no su objetivo. Es el punto de tensión más alto de la historia y luego de él, viene la resolución. En el ejemplo ya conocido de un aprendiz SENA que ha luchado por conseguir un nuevo empleo que le permita sostener a su familia y a la vez continuar con su formación, el clímax estaría dado por una situación en donde el personaje debe enfrentarse a su nuevo jefe para que le conceda un horario que le permita cumplir con su formación. Dependiendo de la respuesta de él, la resolución hablará del cumplimiento o no de sus objetivos.

            p “(…) La clave de todo final de una historia es dar al público lo que desea, pero no de la manera en que lo espera” (McKee,1997).



        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-3/imagen9.svg", alt="").img-fluid



