include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Herramientas para la Gestión del Talento Humano
        meta(meta name="description" content="Ruta de aprendizaje programa Herramientas para la Gestión del Talento Humano.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Herramientas para la Gestión del Talento Humano
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul
                                        li 
                                            span #[strong Nombre del programa:] Herramientas para la Gestión del Talento Humano
                                        li 
                                            span #[strong Código:] 12230001
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Se requiere que el estudiante en Ambiente Virtual de Aprendizaje - AVA -, tenga un manejo adecuado de los elementos básicos relacionados con herramientas informáticas y de comunicación: correo electrónico, chats, procesadores de texto, hojas de cálculo, software para presentaciones, Internet, navegadores y otras herramientas tecnológicas necesarias para la formación virtual.


                    

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.svg").curso-imagen      


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 La Gestión del Talento Humano se centra en la construcción del personal que hace parte de una organización, mediante Herramientas que permitan potenciar la gestión del potencial del recurso humano de las empresas, que requieren colaboradores con buenos comportamientos y conocimientos para el logro de las metas institucionales.


                p El programa Herramientas para La Gestión del Talento Humano, el cual se desarrolla a través del Servicio Nacional de Aprendizaje –SENA-, tiene como objetivo generar acciones mediante Planes y Programas que promuevan la motivación, el sentido de pertenencia y desarrollo profesional para el desempeño eficiente en los puestos de trabajo. 


                p El presente curso, está orientado con recursos educativos digitales y estrategias de aprendizaje de tipo individual y método de casos permitiendo un aprendizaje situado, el curso se desarrolla a través de cuatro unidades temáticas: Conceptos Administrativos básicos para la Gestión del Talento Humano, Herramientas para la Gestión del Talento Humano, Indicadores de Gestión e Informe de Gestión, que permiten la apropiación de conceptos de manera situada en sus contextos cotidianos, es así como posibilita alcanzar de manera  significativa los resultados de aprendizaje esperados.


                p Esperamos que con estos recursos a su disposición, pueda aprender fácilmente y obtener la certificación del curso, el cual se encuentra asociado a la competencia: “Dirigir el Talento Humano de acuerdo con Normativa”. 

                p #[strong ¡Bienvenido!]


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 Las empresas requieren herramientas para la gestión del talento humano, buscando maximizar el desempeño, la productividad, la competitividad y el desarrollo profesional de los empleados. Para ello, una vez se vinculan las personas a los puestos de trabajo, se deben gestionar dinámicas y mecanismos para capacitar y retener a los mejores empleados, donde se requiere de una constante planificación, organización, dirección y control de actividades, que promuevan el desempeño eficiente de los colaboradores de las empresas, que requieren personal con buenos comportamientos y conocimientos que se derivan de los planes y programas de formación y reconocimientos, logrando así, equipos satisfechos y comprometidos con la organización.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Empleados del área de Talento Humano 

                p Personas interesadas en conocer Herramientas para la Gestión del Talento Humano



        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p La estrategia metodológica propuesta para el presente curso, está centrada en la construcción de la autonomía para garantizar la calidad en la educación en el marco de la formación por competencias soportadas en la utilización de las tecnologías de la información y la comunicación, en ambientes virtuales de aprendizaje, a partir de la estrategia de aprendizaje individual para la apropiación de conceptos y el método de casos que propician aprendizajes situados desde la cotidianidad, lo anterior se da a través de cuatro fases que permiten un recorrido desde el análisis y presentación del caso, búsqueda y recolección de datos, que promuevan la presentación de propuestas de resolución del caso, para culminar con la elaboración del informe que dé cuenta de los aprendizajes adquiridos durante el curso, en este sentido, se vincula al aprendiz con la realidad de la cotidianidad y el desarrollo de las competencias en este ámbito. 
	
                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento: 



                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





